.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.create-inline {
    display: inline;
}

.textInput {
    background-color: white;
    border: none;
    transition: .2s;
    margin: 0;
    font-size: 16px;
    padding: 0.8rem 1rem;
    outline: none;
    line-height: 0.8;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    border-radius: 2px;
}

.submitButton {
    background-color: #5fcf80;
    border: solid 2px #5fcf80;
}

.datePickerWrapper {
    text-align: center;
}

.form-card {
    text-align: left;
}

.form-header {
    background: url('./images/banner.jpg');
    background-position: 0px -250px;
    background-size:100%;
    background-color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px 0 20px 0;
    margin: 0 -15px;
    color: black;
    height: 45vh;
    position: relative;
    z-index: 9999;
}

.form-body {
    padding: 3em;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}



.events-half {
    margin: 10px;
}

.go-btn {
    background-color: #2CC185!important;
    color: white;
    font-weight: bold!important;
    border-radius: 0px!important;
    padding: 10px!important;
}

.search-btn {
    text-align: center;
    margin-top: 2px;
}

.search-btn input {
    width: 100%;
    padding: 0.4rem 1rem;
}

.options{
    width: 100%;
    margin-top: 5px;
}

.results {
    text-align: center;
    width: 100%;
}

.results p {
    margin-bottom: 0;
}

.results a {
    font-weight: normal;
    color: white;
}
.results a:hover {
    color: white;
}

.hidden {
    display: none !important;
}

.options {
    padding: 0;
}
.options li {
    list-style-type: none;
    display: inline-block;
    width: calc(100%/4);
}

.itinContainer {
    font-size: 1.2rem;
}

.itinContainer td {
    padding: 20px 5px;
    text-transform: uppercase;

}

.mapsfix {
    padding-right: 0px!important;
}
table {
    margin-top: 25px;
}
.totalCost {
    font-size: 1.4rem;
}

.plane-icon {
    margin-right: 8px;
}

.inputsRow {
    padding: 0.1em 0.5em;
    margin: auto!important;

}

input[name="location"] {
    padding-left: 20px;
}

.loader {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 45vh;
    background-color: rgba(255,255,255, 0.55);
    z-index: 9999;
}

.itinerary {

}

.loader div:first-child {
    position: absolute;
    top: calc(47% - 50px);
    left: calc(51% - 50px);
}
.loader h5 {
    margin-top: 50px;
}

#nav-tab {
    width: 90%;
    text-transform: uppercase;
    margin: auto;
}

#nav-tabContent {
    width: 90%;
    margin: auto;
}

.nav-tabs .nav-link {
    border: none!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9)!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: white!important;
    border-bottom: 5px solid #2CC185!important;
}

.nav-tabs .nav-link {
    color: #495057!important;
}

.origin-logo {
    width: 15%;
}

.optionInputs {
    display: inherit;
    width: 50%;
    margin: auto;
}

.optionInputs div {
    margin-left: 10px;
}

.optionSelect {
    background-color: white;
    border: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    margin: 0;
    padding: 0.6em;
    outline: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
